@font-face {
    font-family: Roboto;
    src: url(./res/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(./res/fonts/Roboto-Bold.ttf);
}



html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Roboto;
}



:root {
    --dark-background-color: #222222;
    --mid-background-color: #333333;
    --light-background-color: #444444;
    --main-text-color: #2CD0F4;
    --secondary-text-color: #ffffff;
    --green-color: #2CF4AC;
    --light-blue-color: #2CD0F4;
    --dark-blue-color: #2C58F4;
    --purple-color: #A82CF4; 
}

.text-green {
    color: var(--green-color);
}

.text-light-blue {
    color: var(--light-blue-color);
}

.text-dark-blue {
    color: var(--dark-blue-color);
}

.text-purple {
    color: var(--purple-color);
}

.border-green {
    border-color: var(--green-color);
}

.border-light-blue {
    border-color: var(--light-blue-color);
}

.border-purple {
    border-color: var(--purple-color);
}

.border-dark-blue {
    border-color: var(--dark-blue-color);
}

body {
    background-color: var(--light-background-color);
}



section.welcome {
    background-image: url(./res/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

section.welcome > div.welcome-content {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

section.welcome > div.welcome-content > h1 {
    margin: 0;
    padding: 0 25px 0 25px;
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
}

section.welcome > div.welcome-content > p {
    margin: 0;
    padding: 0 25px 0 25px;
    color: var(--secondary-text-color);
    text-align: center;
}



section.projects {
    background-color: var(--light-background-color);
}

div.filter-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 25px;

    padding: 25px;
}

.centered-y {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.space-between {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.dropdown-title {
    color: var(--main-text-color);
    background-color: var(--dark-background-color);
    padding-left: 25px;
    padding-right: 25px;
}

@media (pointer: fine) {
    .dropdown-title:hover {
        filter: brightness(150%);
    }
}

.dropdown.active .dropdown-title {
    filter: brightness(150%);
}

.dropdown-content li {
    color: var(--secondary-text-color);
    background-color: var(--mid-background-color);
}

.dropdown-content li span {
    padding-left: 25px;
}

.dropdown-title .dropdown-icon {
    height: 1em;
    width: auto;
    transition: transform .2s ;
    transform: rotate(90deg);
}

.dropdown.active .dropdown-icon {
    transform: rotate(270deg);
}



div.projects-display {
    box-sizing: border-box;
    padding: 25px;
    min-height: 250px;
    
    display: flex;
    flex-direction: column;
}

div.projects-display:empty {
    background-color: var(--mid-background-color);
}

div.projects-display:empty::before {
    color: var(--secondary-text-color);
    text-align: center;
    content: "No projects to display yet";
}

div.project-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 150px) auto auto auto;
    grid-template-areas: 
        "icon"
        "title"
        "body"
        "tags";
    background-color: var(--dark-background-color);
}

div.project-card div.project-icon {
    grid-area: icon;
    overflow: hidden;
    background-color: var(--mid-background-color);
}

div.project-card div.project-icon img {
    width: 100%;
    height: auto;
}

div.project-card div.project-title {
    grid-area: title;
    color: var(--main-text-color);
    padding: 25px 12.5px 25px 12.5px;
}

div.project-card div.project-title h1 {
    margin: 0;
}

div.project-card div.project-body {
    grid-area: body;
    color: var(--secondary-text-color);
    padding: 0px 12.5px 25px 12.5px;
}

div.project-card div.project-tags {
    grid-area: tags;
    box-sizing: border-box;
    padding:  0px 12.5px 25px 12.5px;
}

div.project-card div.project-tags span.project-tag {
    display: inline-block;
    height: 1.3em;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: var(--mid-background-color);
    border: 1px solid;
    border-radius: calc(1.3em + 5px);
}

@media (min-width: 600px) {
    div.project-card {
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px 200px minmax(50px, min-content);
        grid-template-areas: 
            "icon title title title"
            "icon body body body"
            "icon tags tags tags";   
    }

    div.project-card div.project-icon {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
    }

    div.project-card div.project-title {
        padding: 25px 12.5px 0px 12.5px;
    }

    div.project-card div.project-body {
        padding-top: 25px;
        text-overflow: ellipsis;
    }

    
}