div.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease opacity;
    z-index: 9999;
}

div.modal[data-modal-active="true"] {
    opacity: 1;
}